# Test files
test.js
*.test.js

# GitHub files
.github/

# Git files
.git/
.gitignore

# Development files
.vscode/
.idea/

# Logs
*.log
npm-debug.log*

# Dependencies
node_modules/

# OS files
.DS_Store
Thumbs.db